*,
*::after,
::before {
    box-sizing: border-box;
}

body {
color: #8a2be2;
    font-family: 'Roboto', sans-serif;
}

#wrapper {
position: relative;
width: 100%;
overflow: hidden;
}

.container {
max-width: 1150px;
width: 100%;
margin: 0 auto;
padding: 0 20px;
overflow: hidden;
}
