:root {
    --gray: #E5E5E5;
    --base-color: #333;
    --white: #fff;
    --black: #000000;
    --hover-color: var(--pink);
    --speed: 0.8s;
    --button-background: var(--white);
    --pink: #F13C6E;
    --button-border-color: var(--pink) --button-color: var(--black);
    --header-bar-color: #EFEFEF;
}

*,
*::after,
::before {
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: var(--base-color);
    font-family: 'roboto', sans-serif;
    background: var(--gray);
}

#wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.container {
    max-width: 1150px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

img {
    max-width: 100%;
    vertical-align: top;
    height: auto;
}

.header-panel {
    font-size: 14px;
    line-height: 16px;
    padding: 16px 0;

}

.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.menu a {
    color: var(--base-color);
    text-decoration: none;
    transition: color var(--speed);
}

.menu a:hover {
    color: var(--hover-color);
}

.menu>li {
    display: inline-block;
    padding: 0 15px;
}

.header-main {
    padding: 20px 0;
    background: var(--white);
}

.header-main .container {
    text-align: justify;
    line-height: 0;
}

.header-main .container::after {
    content: '';
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

.logo {
    display: inline-block;
    vertical-align: middle;
}

.header-main__box {
    display: inline-block;
    line-height: 1.2px;
    vertical-align: middle;
}

.tel {
    font-size: 16px;
    text-decoration: none;
    margin: 0 40px 0 0;
    color: var(--black);
    display: inline-block;
}

.tel:hover {
    color: var(--pink);
}

.header-main__box .btn {
    vertical-align: middle;
}

.btn {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    display: inline-block;
    background: var(--button-background);
    color: var(--black);
    vertical-align: top;
    padding: 10px 27px;
    text-decoration: none;
    border: 2px solid var(--pink);
    border-radius: 50px;
    transition: background var(--speed);
}

.btn:hover {
    background: var(--pink);
}

.header-bar {
    padding: 30px 0;
    background: var(--white);
    border-top: 1px solid var(--header-bar-color);
}

.header-bar {
    font-size: 16px;
    line-height: 19px;
}

.block1 {
    position: relative;
    max-width: 100%;
    min-height: 604px;
    padding: 182px 0;
    color: var(--white);
    overflow: hidden;
}

.block1 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

.text_1 {
    padding: 80px 0 100px;
}

h1 {
    margin: 0;
    font-weight: 700px;
    font-size: 48px;
    line-height: 56px;
    padding-bottom: 50px;
}

p {
    margin: 0;
    padding-bottom: 50px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

h2 {
    padding-bottom: 38px;
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: var(--black);
}

.text_1 .btn {
    display: inline-block;
    color: var(--white);
    background: var(--pink);
    border: 2px solid var(--white);
}

.container {
    max-width: 1000px;
    padding: 0 20px;
    margin: 0 auto;
}

.cards {
margin: 0 -15px;
padding: 0;
list-style: none;
}

.card > li {
    display: inline-block;
width: calc(100% / 4);
float: left;
padding: 0 15px;
vertical-align: top;
}

.card {
width: 100%;
background: var(--white);
padding-top: 25px;
}

.card:hover {
box-shadow: 1px 1px 6px var(--pink);
}

.card_photo {
background: var(--white);
width: 125px;
margin: 0 auto;
}

.text_card {
background: var(--white);
padding: 20px 30px 25px;
text-align: center;
}

.text_card h5 {
padding-bottom: 25px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}

span {
display: inline-block;
font-weight: 500;
font-size: 21px;
line-height: 25px;
letter-spacing: 0.05em;
padding-bottom: 20px;
color: var(--black);
}

.btn2 {
display: inline-block;
text-decoration: none;
color: var(--white);
letter-spacing: 0.05em;
line-height: 16px;
padding: 9px 40px;
border-radius: 30px;
border: 1px solid var(--pink);
background: var(--pink);
transition: all .8s;
}

.btn:hover {
background: var(--white);
color: var(--black);
border: 1px solid var(--pink);
}

.one {
display: inline-block;
max-width: 540px;
background: var(--pink);
color: var(--white);
overflow: hidden;
margin: 100px 0;
vertical-align: middle;
padding: 45px 35px;
}

.one img {
float: right;
}

.one_text {
display: inline-block;
max-width: 250px;
margin-right: 65px;
}

h3 {
margin: 0;
font-weight: 700;
font-size: 18px;
line-height: 21px;
color: var(--white);
}

.one p {
padding: 25px 0;
font-weight: 400;
font-size: 14px;
line-height: 20px;
color: var(--white);
}

[type="email"] {
width: 225px;
height: 35px;
border-radius: 30px;
}

/* .one_text a {
display: inline-block;
text-decoration: none;
color: var(--white);
background: var(--pink);
border: 2px solid var(--white);
border-radius: 30px;
width: 170px;
text-align: center;
line-height: 16px;
padding: 8px 0;
} */

[alt="car"] {
margin-top: 25px;
margin-left: 96px;
}

.container [class="one"]:first-child {
    margin-right: 26px;
    }
    
table {
background: var(--white);
border-collapse: collapse;
margin-bottom: 80px;
}

td {
border: 1px solid var(--white);
}

[alt="a"] {
padding: 35px 65px;
}

[alt="impuls"]:hover {
box-shadow: 1px 1px 5px var(--pink);
}

.footer_f {
background: var(--white);
}

.footer_nav {
display: inline-block;
width: calc(100% / 4);
margin-right: -4px;
padding-right: 30px;
}
