:root {
    --gray: #E5E5E5;
    --base-color: #333;
    --white: #fff;
    --black: #000000;
    --hover-color: var(--pink);
    --speed: 0.8s;
    --button-background: var(--white);
    --pink: #F13C6E;
    --button-border-color: var(--pink) --button-color: var(--black);
    --header-bar-color: #EFEFEF;
    --cards_email: #C4C4C4;
    --nav_menu: #828282;
    --span-hover: #f0bac9;
    --img-hover: #ffc8c86d;
}

*,
*::after,
::before {
    box-sizing: border-box;
}

body {
    line-height: 20px;
    color: var(--base-color);
    font-family: 'roboto', sans-serif;
    background: var(--gray);
}

#wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.container {
    max-width: 1150px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

img {
    max-width: 100%;
    vertical-align: top;
    height: auto;
}

.header-panel {
    font-size: 14px;
    line-height: 16px;
    padding: 16px 0;
}

.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.menu a {
    color: var(--base-color);
    text-decoration: none;
    transition: color var(--speed);
}

.menu a:hover {
    color: var(--hover-color);
}

.menu>li {
    display: inline-block;
    padding: 0 15px;
}

.header-main {
    padding: 20px 0;
    background: var(--white);
}

.header-main .container {
    text-align: justify;
    line-height: 0;
}

.header-main .container::after {
    content: '';
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

.logo {
    display: inline-block;
    vertical-align: middle;
}

.header-main__box {
    display: inline-block;
    line-height: 1.2px;
    vertical-align: middle;
}

.tel {
    font-size: 16px;
    text-decoration: none;
    margin: 0 40px 0 0;
    color: var(--black);
    display: inline-block;
}

.tel:hover {
    color: var(--pink);
}

.header-main__box .btn {
    vertical-align: middle;
}

.btn {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    display: inline-block;
    background: var(--button-background);
    color: var(--black);
    vertical-align: top;
    padding: 10px 27px;
    text-decoration: none;
    border: 2px solid var(--pink);
    border-radius: 50px;
    transition: background var(--speed);
}

.btn:hover {
    background: var(--pink);
}

.header-bar {
    padding: 30px 0;
    background: var(--white);
    border-top: 1px solid var(--header-bar-color);
}

.header-bar {
    font-size: 16px;
    line-height: 19px;
}

.block1 {
    background-image: url(.//images/background1.png);
    padding-bottom: 100px;
    padding-top: 100%;
    background-position: 50% 50%;
    min-height: 604px;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--white);
    /* margin-bottom: 79px; */
    padding: 0;
}

.text_1 a:hover {
    color: var(--hover-color);
}

.text_1>h1 {
    font-weight: 700px;
    font-size: 48px;
    line-height: 56px;
}

.text_1>p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 50px;
}

.text_1 {
    padding-left: 0;
    padding-top: 160px;
}

.text_1>.btn_0 {
    display: inline-block;
    color: var(--white);
    background: var(--pink);
    border: 2px solid var(--white);
    transition: background var(--speed);
}

.btn_0 {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    display: inline-block;
    background: var(--pink);
    color: var(--white);
    vertical-align: top;
    padding-top: 10px;
    text-decoration: none;
    width: 170px;
    height: 40px;
    border: 2px solid var(--white);
    border-radius: 40px;
    transition: background var(--speed);
}

.btn_0:hover {
    background: var(--white);
}

.block2 {
    max-width: 1110px;
    min-height: 430px;
    color: var(--black);
    margin: 0 auto;
    padding: 0 0;
}

.sph2 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 38px;
    margin-top: 80px;
}

.sph3 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 38px;
    padding-left: 19px;
}

.cards {
    margin: 0 -15px;
    padding: 0;
    list-style: none;
    padding-bottom: 81px;
}

input :placeholder-shown {
    color: var(--cards_email);
}

.cards>li {
    display: inline-block;
    width: calc(100% / 4);
    padding: 0 15px;
    margin-right: -4px;
    vertical-align: top;
}

.card {
    width: 100%;
    background: var(--white);
    padding-top: 25px;
}

.card:hover {
    box-shadow: 1px 1px 6px var(--pink);
}

.btn2 {
    display: inline-block;
    text-decoration: none;
    color: var(--white);
    letter-spacing: 0.05em;
    line-height: 16px;
    padding: 9px 40px;
    border-radius: 30px;
    border: 1px solid var(--pink);
    background: var(--pink);
    transition: all .8s;
    margin-top: 20px;
}

.btn2:hover {
    background: var(--white);
    color: var(--black);
    border: 1px solid var(--pink);
}

.card_photo {
    background: var(--white);
    width: 125px;
    margin: 0 auto;
}

.text_card {
    background: var(--white);
    padding: 20px 30px 25px;
    text-align: center;
}

.text_card h5 {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    margin-top: 0;
    transition: var(--black);
    cursor: pointer;
}

.text_card h5:hover {
    background: var(--span-hover);
    border-radius: 8px;
}

span {
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: var(--black);
    transition: all 1s linear;
    cursor: pointer;
}

span:hover {
    background: var(--span-hover);
    border-radius: 8px;
}

.cards_1 {
    max-width: 525px;
    background: var(--pink);
    color: var(--white);
    vertical-align: middle;
    padding: 10px;
    margin: 0 26px;
    display: inline-block;
    overflow: hidden;
    display: inline-flex;
    flex-direction: row-reverse;
    height: 212px;
}

.cards_2 {
    max-width: 525px;
    background: var(--pink);
    color: var(--white);
    vertical-align: middle;
    padding: 32px;
    margin: 100px 0;
    display: inline-block;
    overflow: hidden;
    display: inline-flex;
    flex-direction: row-reverse;
    height: 212px;
}

.one_text .one_text_2 {
    padding: 0;
    margin: 0;
}

.one_text_2 {
    padding-top: 0;
}

.one_text h3 {
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    padding-top: 22px;
    padding-left: 13px;
}

.one_text p {
    margin: 25px 0;
    padding-left: 13px;
}

.one_text_2 h3 {
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.one_text_2 p {
    margin: 25px 0;
}

[alt="car"] {
    width: 140px;
    height: 106px;
    margin-top: 25px;
    margin-left: 134px;
}

[alt="envelope"] {
    width: 140px;
    height: 106px;
    margin-top: 42px;
    margin-left: 88px;
}

.left_img {
    padding-right: 0;
}

[type="email"] {
    width: 225px;
    height: 35px;
    border-radius: 30px;
    margin-left: 13px;
    padding-left: 15px;
}

input::placeholder {
    /* padding: 25px; */
    color: ;
}

.btn_1 {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    display: inline-block;
    background: var(--pink);
    color: var(--white);
    vertical-align: top;
    padding-top: 10px;
    text-decoration: none;
    width: 170px;
    height: 40px;
    border: 2px solid var(--white);
    border-radius: 40px;
    transition: background var(--speed);
}

.btn_1:hover {
    background: var(--white);
    color: var(--pink);
}

.impuls_table {
    padding-top: 34px;
}

.table {
    margin: 0 auto;
    padding-bottom: 80px;
    padding: 33px;
    padding: 13px;
    padding-left: 19px;
    padding-bottom: 80px;
}

table tr td {
    background-color: var(--white);
    border: 1px solid #EFEFEF;
    border-collapse: collapse;
}

table a {
    display: block;
    padding: 33px 67px;
    transition: 1s;
}

table td:hover {
    background: var(--pink);
}

table img {
    width: 149px;
    height: 49px;
}

.footer_nav {
    display: inline-block;
    width: calc(100% / 4);
    margin-right: -4px;
    border-bottom: 1px solid #EFEFEF;
}

.footer_f {
    background: var(--white);
}

h4 {
    padding-top: 60px;
    padding-bottom: 30px;
    padding-left: 40px;
    line-height: 141%:
}

.nav_menu {
    list-style: none;
}

.nav_f {
    margin-bottom: 60px;
    border-top: 1px solid #EFEFEF;
    padding-top: 30px;
    width: 255px;
}

.nav_menu a {
    transition: var(--speed);
    text-decoration: none;
    font-size: 12px;
    line-height: 28px;
    color: var(--nav_menu);
}

.nav_menu a:hover {
    color: var(--hover-color);
}

.icon {
    padding: 20px 0;
    background: var(--white);
}

.icon .container {
    text-align: justify;
    line-height: 0;
}

.icon .container::after {
    content: '';
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

.list {
    list-style: none;
    overflow: hidden;
    padding-left: 0;
    padding-top: 0;
}

.list img {
    height: 55px;
    padding: 10px;
    max-width: 100%;
    transition: all 1s linear;
}

.list img:hover {
    background: #ffc8c86d;
    border-radius: 60px;
}

.list>li {
    float: left;
    padding-bottom: 20px;
}

.tell_footer {
    line-height: 1.2px;
    vertical-align: middle;
    float: right;
    margin: -50px 19px;
}

.tel_2 {
    font-size: 16px;
    text-decoration: none;
    margin: 0 40px 0 0;
    color: var(--black);
}

.tel_2:hover {
    color: var(--pink);
}

.btn_2 {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    display: inline-block;
    background: var(--button-background);
    color: var(--black);
    vertical-align: top;
    padding: 10px 27px;
    text-decoration: none;
    border: 2px solid var(--pink);
    border-radius: 50px;
    transition: background var(--speed);
    margin: -20px;
}

.btn_2:hover {
    background: var(--pink);
}

.footer-panel {
    margin-left: 147px;
    margin-right: 147px;
    font-weight: 400;
    padding-top: 10px;
    font-size: 12px;
    line-height: 14px;
    color: var(--black);
}

.foot_0 {
    float: right;
    color: #000000;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    text-decoration: none;
    margin: -30px 0;
}

.foot_0:hover {
    color: var(--pink);
}